h1(style="text-align:center") Stadgar, datalogi föreningen.
h3 Mål och inriktning:

p Föreningen skall inriktas mot att bevaka medlemmarnas intresse gentemot akademin vad avser kurser och utbildningar.
p Föreningen skall även sträva efter att profilera medlemmarna och medlemmarnas program utåt mot allmänheten och näringslivet.
p Föreningen skall också verka för att en god anda bibehålls bland medlemmar, samt att en social verksamhet bedrivs gentemot medlemmarna inom ramen för föreningens verksamhet.

h3 Hemort:

p Föreningen har sin hemort i Västerås.

h3 Regler för hur verksamheten ska bedrivas:

p Föreningens verksamhet skall vara ideell, samt organiseras enligt demokratiska principer.
p Föreningen skall innehålla endast studenter som studerar vid Mälardalens Högskola inom program godkända av styrelsen, eller före detta studenter inom dessa program. För att utesluta ett program ur föreningen krävs beslut vid årsmöte. Studenter som studerar eller studerat vid en svensk högskola/universitet men som ej studerar eller har studerat ett av styrelsen godkänt program kan ansöka om undantagstillstånd genom att skicka en skriftlig ansökan till styrelsen för att bli medlem i föreningen, dessa studenter behöver dock specifikt godkännas av de som har studerat ett godkänt program för att få bli medlem i föreningens styrelse.

p För att äga och bära en Dalo-overall måste personen vara eller har varit en godkänd medlem i föreningen.

h3 Regler för medlemskap och uteslutning:

p Medlem antages i föreningen av styrelsen efter anmälan, som skall vara åtföljd av en medlemsavgift, denna medlemsskap avser livstid.
p Ansökan om medlemskap får avslås endast om det kan antas att sökande kommer att motarbeta föreningens ändamål och intresse. Endast styrelsen kan fatta beslut om att avslå en ansökan.
p Medlemssavgiften ska sättas av årsmötet.

p Föreningsmedlem får ej uteslutas ur föreningen av annan orsak än att medlemmen motverkat föreningens verksamhet eller på annat sätt skadat dess intressen.
p Beslut om uteslutning får ej fattas förrän medlemmen fått tillfälle att yttra sig.
p Beslut om uteslutning fattas av årsmötet.

h3 Medlem:

p Medlem har rätt att deltaga i av föreningen anordnad verksamhet och möten.
p Medlem har rätt till fortlöpande information om föreningens angelägenheter.
p Medlem skall följa föreningens stadgar samt beslut som fattas av styrelsen och årsmötet.
p Medlem skall erlägga medlemsavgift som beslutas av årsmötet.

h3 Beslutande organ:

p Föreningens beslutande organ är årsmötet, extra årsmöte och styrelsen.
p Verkställande organ är av styrelsen utsedda personer.


h3 Firmateckning:


p Föreningens firma tecknas av ordförande och kassör.

h3 Verksamhets- och räkenskapsår:


p Föreningens verksamhets- och räkenskapsår omfattar tiden 1 januari till och med 31 december.
p Styrelsen är vald för tiden från årsmötet till och med årsmötet påföljande år.


h3 Stadgetolkning m.m:

p Uppstår tvekan om tolkningen av dessa stadgar, eller om fall förekommer som inte förutsedda i stadgarna, hänskjuts frågan till nästkommande årsmöte eller avgörs i trängande fall av styrelsen.
p Medlem förbinder sig genom sitt medlemskap i föreningen att ifråga om tillämpning av dessa stadgar inte väcka talan vid allmän domstol. Tvist om tillämpning av stadgarna skall istället avgöras i samförstånd mellan styrelsen och enskild medlem.

h3 Ändring av stadgar:


p Årsmötet beslutar om stadgeändring, som träder i kraft efter ett andra stämmomöte inom ett närliggande antal veckor.
p Förslag till ändring av stadgarna får skriftligen avges av såväl medlem som styrelsen.

h3 Upplösning av föreningen:

p För upplösning av föreningen krävs beslut vid årsmötet samt vid ett efterföljande extra årsmöte.
p Beslut jämte bestyrkta avskrifter av styrelsen och årsmötet protokoll i ärendet, samt revisionsberättelse, skall omedelbart delges Studentkåren.
p Föreningens tillgångar tillfaller Studentkåren vid föreningens upplösande.

h2 ÅRSMÖTE OCH EXTRA ÅRSMÖTE
h3 Tidpunkt och kallelse:

p Årsmötet som är föreningens högsta beslutande organ, hålls 1:a veckan i februari på tid och plats som styrelsen bestämmer.
p Kallelse till årsmötet skall av styrelsen senast tre veckor före mötet tillställas medlemmarna.
p Har förslag om stadgeändring, upplösning eller sammanslagning av föreningen med annan förening eller annan fråga av väsentlig betydelse för föreningen eller dess medlemmar, skall det anges i kallelsen.


h3 Förslag till ärende att behandlas av årsmötet:

p Såväl medlem som styrelsen får avge motion att behandlas av årsmötet.
p Förslag från medlem skall vara styrelsen tillhandla senast fyra veckor före årsmötet.


h3 Rösträtt samt yttrande- och förslagsrätt på årsmötet:

p Medlem som har betalat ålagd medlemsavgift har rösträtt på årsmötet, medlemmen skall även bedriva studier vid högskolan.
p Rösträtten är personlig och får inte utövas genom ombud.
p Röstning får ej ske av styrelsen adjungerade personer.

h3 Beslutmässighet:

p Mötet är beslutmässigt med det antal röstberättigade som är närvarande på årsmötet.


h3 Beslut och omröstning:

p Beslut fattas med bifallsrop (acklamation) eller som så begärs efter omröstning (votering).
p Omröstningen sker öppet. Om röstberättigad medlem begär det skall dock val ske slutet.

p Beslut bekräftas med klubbslag.


h3 Valbarhet:

p Valbar till styrelsen är röstberättigad medlem av föreningen, eller i specifika fall en medlem som är specifikt godkänd av de studenter som är medlemmar av föreningen och studerande av ett av styrelsen godkänt program (se §3 för regler angående godkända medlemmar). Arbetstagare inom föreningen får dock inte väljas till ledamot av styrelsen eller till revisor i föreningen.


h3 Ärenden till årsmötet:
ul
    li - Vid årsmötet skall följande behandlas och protokollföras:
    li - Fastställande av röstlängd för mötet.
    li - Fråga om mötet har utlysts på rätt sätt.
    li - Fastställande av föredragningslista.
    li - Val av ordförande och sekreterare för mötet.
    li - Val av protokolljusterare(2 st) och rösträknare.
    li 
        ol
            li a) Styrelsens verksamhetsberättelse för det senaste verksamhetsåret.
            li b) Styrelsens förvaltningsberättelse (balans- och resultaträkning) för det senaste räkenskapsåret.
    li - Fråga om ansvarfrihet för styrelsen.
    li - Fastställande av medlemsavgifter.
    li - Fastställande av verksamhetsplan samt behandling av budget för det kommande verksamhets-/räkenskapsåret.
    li - Årsmötet väljer styrelsen för en tid av ett år.
    li - Behandling av styrelsens förslag och i rätt tid inkomna motioner.
    li - Övriga frågor.


h3 Extra årsmöte:

p Styrelsen kan kalla medlemmarna till extra årsmöte, eller vid beslut om bordläggning av frågor på ordinarie årsmöte. Då något exceptionellt före föreningen inträffar.

p Kallelse till extra årsmötet skall av styrelsen senast tre veckor före mötet tillställas medlemmarna.

p Om rösträtt på extra årsmötet och om beslutmässighet vid sådant möte gäller vad som sägs i § 14 och § 15.

h2 STYRELSEN
h3 Sammansättning:

p Styrelsen består av Ordförande, vice Ordförande, Kassör, Sekreterare, extern revisor, Matrielansvarig, max 4 ledamöter samt max 2 suppleanter.
p Årsmötet väljer styrelsen.
p Ordföranden ska ha den officiella titeln “Kapten”.

p Vid förfall av ledamot inträder suppleant enligt av styrelsen fastställd turordning. Avgår ledamot före mandatperiodens utgång inträder suppleant i dennes ställe enligt samma ordning för tiden till och med nästföljande årsmöte.

p Styrelsen får utse person till adjungerad ledamot. Sådant ledamot har inte rösträtt men kan efter beslut av styrelsen ges yttrande- och förslagsrätt.


h3 Kallelse beslutmässighet och omröstning:

p Kallelse skall ske 2-3 veckor innan styrelsemöte.

p Styrelsen sammanträder regelbundet, eller på kallelse av ordförande, eller genom ordföranden av i styrelsen sittande medlemmar.

p Styrelsen är beslutmässig då 2/3 av styrelsen är närvarnade, vid beslut krävs absolut majoritet. Röstning får ej ske genom ombud.

p Beslut fattas med bifallsrop (acklamation) eller om så begärs efter omröstning (votering). Omröstning sker öppet, om röstberättigad medlem begär det skall dock val ske slutet.

p Vid lika antal röster äger ordförande utslagsröst.

p Beslut bekräftas med klubbslag.

p Vid sammanträde skall protokoll föras. Protokoll skall justeras av mötesordföranden och av en särskilt utsedd protokolljustare. Avvikande mening skall antecknas i protokollet.

h3 Överlåtelse av beslutsrätten:
p Styrelsen får överlåta sin beslutanderätt I enskilda ärenden eller i vissa grupper av ärenden till sektion, kommitté eller annat organ till enskild medlem eller anställd.
p Den som fattat beslut med stöd av bemyndigande enligt föregående stycke skall fortlöpande underrätta styrelsen härom.

h3 Utskott:
p Under styrelsen finns tre utskott utan beslutande makt.
ul
    li - Näringslivsutskottet, med ansvar för näringslivskontakter.
    li - Utbildningsutskottet, med ansvar för föreningensprogram.
    li - Dalophest, med ansvar för att främja gemenskapen inom föreningen.

p Ordförande av utskotten väljs av årsmötet. Ordförande skall sitta i styrelsen i form av adjungerad ledamot om denna ej redan håller en plats i styrelsen. Resterande medlemmar av utskottet tillsätts av styrelsen.

p Utskotten skall rapportera till styrelsen vid varje styrelsemöte.
p Utskottet upplöses vid årsmötet eller vid majoritetsbeslut av styrelsen då rimlig anledning finns.

h3 Styrelsens åligganden:
p - När årsmötet inte är samlat är styrelsen föreningens beslutande organ och ansvar för föreningens angelägenheter.
p - Det åligger styrelsen att:
p - tillse att föreningens gällande lagar och bindande regler iakttas.
p - verkställa av årsmötet fattade beslut.
p - planera, leda och fördela arbetet inom föreningen.
p - ansvara för föreningens medel.
p - tillställa revisorerna räkenskaper m.m enligt § 21, och förbereda årsmöte.

h3 Sekreteraren skall:
p - förbereda styrelsens sammanträden och föreningens möten.
p - föra protokoll över styrelsens sammanträden.
p - se till att föreningens handlingar hålls ordnade och försvaras på ett betryggande sätt.
p - om ordförande inte bestämmer annat, underteckna utgående handlingar.
p - årligen upprätta förslag till verksamhetsberättelse för föreningen.

h3 Kassören skall:
p - se till att medlemmarna betalar beslutade avgifter till föreningen.
p - se till att föreningen söker bidrag från studentkåren och akademin med flera.
p - svara före föreningens bokföring, vilket innebär skyldighet att föra bok över föreningens räkenskaper.
p - årligen upprätta balans- och resultaträkningar.
p - se till att föreningens skatter, avgifter och skulder betalas i rätt tid.
p - i förekommande fall upprätta och avge allmän självdeklaration, särskild uppgift, kontrolluppgifter, uppbördsdeklarationer och övriga föreskrivna uppgifter inom skatte- och avgiftsområdet.
p - föra medlemsförteckning.

h3 Materialansvarig skall:
p - föra inventarieförteckning över föreningens fasta egendom.
p - ha det yttersta ansvaret för material vid föreningsaktiviteter.


