extends base
block content    
    #left(style="width: 200px; float: left;")
        img(src="images/logo-text.png", style="width:200px;")
    #right(style="width: 550px; float: right;")
        h2 Om oss
        span Datalogiföreningen (DALO) förvaltar studenterna på programmen datorkommunikation och datornätverk, högskoleingengörsprogrammet i nätverksteknik samt datavetenskap. Vi jobbar ideellt för att skapa ett närmare samband med näringslivet, ett närmare samarbete med skolan och akademin IDT, samt ett trevligare studentliv. Läser du något av följande program är du program är du välkommen att bli medlem i DALO.
        ul
            li 
                a(href="http://www.mdh.se/utbildning/program/datavetenskap") Datavetenskapliga programmet, 180 hp
            li 
                a(href="http://www.mdh.se/utbildning/program/datornatverk") Datornätverk och datakommunikation, 120 hp
            li 
                a(href="http://www.mdh.se/utbildning/program/natverksteknik") Högskoleingenjörsprogrammet i nätverksteknik, 180 hp
                