doctype html
html
    head
        include base_head
        block head
    body
        include navigation
        block body
            .container
                block content
        block scripts