doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        include components/base_head
        block head
    body
        .container
            include components/navigation
            block content
        block scripts
        include components/footer