extends base
block content
    script(src="/scripts/facebook.js")
    include components/carousel
    include components/news
    
block head
    link(rel="stylesheet", type="text/css", href="/css/news.css")
