extends layout
block content
    nav
        .nav_logo
            img(class="logo", src="/images/logo.png")
        .nav_menu  
            .nav_menu_top
                a(class="nav_menu_top_login", href="#") Login
            .nav_menu_bottom
                ul
                    li
                        a(class="nav_link nav_link_selected", href="#") Nyheter
                    li
                        a(class="nav_link", href="#") Kalender
                    li
                        a(class="nav_link", href="#") Samarbetspartners
                    li
                        a(class="nav_link nav_dropdown", href="#") Föreningen
                            span(class="arrow-down")
                        ul
                            li
                                a(class="nav_sublink", href="#") Bli medlem
                            li
                                a(class="nav_sublink", href="#") Stadgar
                            li
                                a(class="nav_sublink", href="#") Styrelsen
                            li
                                a(class="nav_sublink", href="#") Utskott
                            li
                                a(class="nav_sublink", href="#") Om
                    li
                        a(class="nav_link", href="#") Portfolios 
                    li
                        a(class="nav_link nav_dropdown", href="#") Rookieperioden 
                            span(class="arrow-down")
                        ul
                            li
                                a(class="nav_sublink", href="#") Sånger
                            li
                                a(class="nav_sublink", href="#") Kontakt
