html
    head
        link(href="/stylesheets/login_form.css", type="text/css", rel="stylesheet")
    body
        .form
          form(class="login-form", action="/login", method="post")
            input(type='text', placeholder='username', name="username")
            input(type='password', placeholder='password', name="password")
            button login
            p.message Not registered? 
              a(href='/join') Create an account