nav
    .nav_logo
        img(class="logo", src="/images/logo.png")
    .nav_menu  
        .nav_menu_top
            a(class="nav_menu_top_login", href="login") Login
        .nav_menu_bottom
            ul
                li
                    a(class="nav_link", href="/") 
                        span(class="main-nav-item") Nyheter
                li
                    a(class="nav_link", href="/calendar") 
                        span(class="main-nav-item") Kalender
                li
                    a(class="nav_link", href="/partners") 
                        span(class="main-nav-item") Samarbetspartners
                li
                    a(class="nav_link nav_dropdown", href="/about") 
                        span(class="main-nav-item") Föreningen
                        span(class="arrow-down")
                    ul
                        li
                            a(class="nav_sublink", href="/join") 
                                span(class="main-nav-item") Bli medlem
                        li
                            a(class="nav_sublink", href="/statutes") 
                                span(class="main-nav-item") Stadgar
                        li
                            a(class="nav_sublink", href="/board") 
                                span(class="main-nav-item") Styrelsen
                        li
                            a(class="nav_sublink", href="/committees") 
                                span(class="main-nav-item") Utskott
                        li
                            a(class="nav_sublink", href="/about") 
                                span(class="main-nav-item") Om
                li
                    a(class="nav_link", href="/portfolios") 
                        span(class="main-nav-item") Portfolios 
                li
                    a(class="nav_link nav_dropdown", href="/rookieperiod") 
                        span(class="main-nav-item") Rookieperioden 
                        span(class="arrow-down")
                    ul
                        li
                            a(class="nav_sublink", href="http://studentwikin.se/index.php?title=Kategori:Students%C3%A5nger", target="_blank") 
                                span(class="main-nav-item") Sånger
                        li
                            a(class="nav_sublink", href="/rookie_about") 
                                span(class="main-nav-item") Kontakt
