extends base

block content
    h1 Samarbetspartners
    p För närvarande har DALO inga samarbetspartners. Är ert företag intresserade av att bilda ett samarbete med DALO kan ni höra av er till #[a(href="committees") näringslivsutskottets ordförande].