extends base
block content
    h1 Sånger
    p I den studentikosa miljön sjungs många vackra sånger som ni kan hitta i 
        a(href="http://studentwikin.se/index.php?title=Kategori:Students%C3%A5nger", target="_blank") studentwikin.
    p Här har ni en lista på de sånger som kan vara viktiga under att kunna som DALO-student:
    ul
        li 
            a(href="http://studentwikin.se/index.php?title=Rida_get", target="_blank") Rida Get
        li 
            a(href="http://studentwikin.se/index.php?title=Balladen_om_Theobald_Thor", target="_blank") Balladen om Theobald Thor
        li 
            a(href="http://studentwikin.se/index.php?title=Du_Gamla_Du_fria", target="_blank") Du gamla, Du fria
        li 
            a(href="http://studentwikin.se/index.php?title=Jag_ska_festa", target="_blank") Jag ska festa
        li 
            a(href="http://studentwikin.se/index.php?title=Kalmarevisan", target="_blank") Kalmarevisan
        li 
            a(href="http://studentwikin.se/index.php?title=Lambo", target="_blank") Lambo 
        li 
            a(href="http://studentwikin.se/index.php?title=Porthos_visa", target="_blank") Porthos visa
        li 
            a(href="http://studentwikin.se/index.php?title=Strejk_p%C3%A5_Pripps", target="_blank") Strejk på pripps
        li 
            a(href="http://studentwikin.se/index.php?title=Spritbolaget", target="_blank") Bolaget (sjungs Bolaget, ej Spritbolaget)
        li 
            a(href="http://studentwikin.se/index.php?title=Siffervisan", target="_blank") Siffervisan
        li 
            a(href="http://studentwikin.se/index.php?title=Rida_get", target="_blank") Rida Get