extends base
block content    
    #left(style="float: left; width: 100%;")
      h2 Om oss
      span Datalogiföreningen (DALO) förvaltar studenterna på programmen datorkommunikation och datornätverk, högskoleingengörsprogrammet i nätverksteknik samt datavetenskap. Vi jobbar ideellt för att skapa ett närmare samband med näringslivet, ett närmare samarbete med skolan och akademin IDT, samt ett trevligare studentliv. Läser du något av följande program är du program är du välkommen att bli medlem i DALO.
      ul(style="padding: 10px;")
          li
              a(href="http://www.mdh.se/utbildning/program/datavetenskap") Datavetenskapliga programmet, 180 hp
          li 
              a(href="http://www.mdh.se/utbildning/program/datornatverk") Datornätverk och datakommunikation, 120 hp
          li 
              a(href="http://www.mdh.se/utbildning/program/natverksteknik") Högskoleingenjörsprogrammet i nätverksteknik, 180 hp
          li 
              a(href="http://www.mdh.se/utbildning/program/master-embedded") Masterprogram i intelligenta inbyggda system, 120 hp
          li 
              a(href="http://www.mdh.se/utbildning/program/master-software-engineering") Masterprogram i programvaruteknik, 120 hp
          li 
              a(href="http://www.mdh.se/utbildning/program/master-software-engineering-60") Magisterprogram i programvaruteknik, 60 hp
    #right(style="margin: 0 auto; text-align: center;")
      img(src="images/logo-text.png", style="width:200px;")
        
